*.html linguist-detectable=false
*.pas linguist-vendored=true
*.pp linguist-vendored=true
*.p linguist-vendored=true
*.PrjPcb linguist-language=XML
*.PrjPcbStructure linguist-language=XML
*.PrjPcbVariants linguist-language=XML
*.SchDoc linguist-vendored=true
*.PcbDoc linguist-vendored=true
*.SchLib linguist-vendored=true
*.PcbLib linguist-vendored=true
*.OutJob linguist-language=XML
*.SchDocPreview linguist-vendored=true
*.PcbDocPreview linguist-vendored=true